<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
      required
    />
  </form>
</div>

<!-- Loader -->
<div *ngIf="isLoading" class="loader">
  <span>Loading...</span>
</div>

<!-- Error Message -->
<div *ngIf="isError" class="error-message">
  <p>City not found. Please try again.</p>
</div>

<!-- Weather Data -->
<div class="container" *ngIf="weatherData && !isError">
  <div class="upper-data">
    <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp <= 18" />
    <img src="../assets/warm.jpg" *ngIf="weatherData.main.temp > 18" />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp | number : "1.0-0" }}℉
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>

    <div class="more-info-container">
      <div class="info">
        <div class="info-label">
          <img src="../assets/min.png" alt="" />
          <span>min</span>
        </div>
        <div class="info-value">
          {{ weatherData.main.temp_min | number : "1.0-0" }}℉
        </div>
      </div>

      <div class="info">
        <div class="info-label">
          <img src="../assets/max.png" alt="" />
          <span>max</span>
        </div>
        <div class="info-value">
          {{ weatherData.main.temp_max | number : "1.0-0" }}℉
        </div>
      </div>

      <div class="info">
        <div class="info-label">
          <img src="../assets/humid.webp" alt="" />
          <span>humidity</span>
        </div>
        <div class="info-value">{{ weatherData.main.humidity }}%</div>
      </div>

      <div class="info">
        <div class="info-label">
          <img src="../assets/windy.jpg" alt="" />
          <span>wind</span>
        </div>
        <div class="info-value">{{ weatherData.wind.speed }} km/h</div>
      </div>
    </div>
  </div>
</div>
