:root {
    --blue-1: #3c429e;
    --blue-2: #4c62ad;
    --yellow-1: #f7b801;
    --white: #fff;
    --grey-1: #f2f2f2;
    --shadow-dark: rgba(0, 0, 0, 0.2);
    --shadow-light: rgba(255, 255, 255, 0.1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: var(--blue-1);
    width: 100%;
    height: 100vh;
}

.container {
    width: 400px;
    height: 80vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lower-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.weather-data{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location{
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
}

.temperature{
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}  

.more-info-label {
    color: var(--white);
}

.more-info-container {
    flex: 1;
    background-color: var(--shadow-dark);
    margin-top: 1em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.info-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-label img {
    width: 3em;
}

.info-label span {
    color: var(--white);
    font-size: 0.9rem;
}

.info-value {
    width: 50%;
    display: flex;
    color: antiquewhite;
    justify-content: flex-start;
    align-items: center;
}

.search{
    margin-bottom: 0.5em;
    text-align: center;
}

.search input{
    background-color: var(--shadow-light);
    width: 80%;
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--grey-1);
    font-size: 1em;
    text-align: center;
}